

    /* Custom CSS */

    body {

      font-family: 'Arial', sans-serif;

    }

 

    /* Section 1 - About Us */

    #section1 {

      background-color: #FAD4D4;

      color: #333333;

    }

 

    /* Section 2 - Services */

    #section2 {

      background-color: #FFD9AA;

    }

 

    /* Section 3 - Featured Properties */

    #section3 {

      background-color: #FFE7B5;

    }

 

    /* Section 4 - Testimonials */

    #section4 {

      background-color: #C4E5F8;

    }

 

    /* Section 5 - Contact Us */

    #section5 {

      background-color: #D9FFD9;

    }

 

    /* Section 6 - Get Started */

    #section6 {

      background-color: #FFE3FF;

    }

